
.col-sm{
    margin-bottom: 1em;
}

.circule_btn:hover {
    
    color:#F24C5A !important;
    filter: drop-shadow(0px 1px 1px #d9d9d9);
    cursor: pointer;
   }

.shadow2{
    border-radius: 2rem 2rem 2rem 2rem;
    /* background: linear-gradient(315deg, #e6e6e692, #ffffff); */
    -webkit-box-shadow: -12px 12px 24px #d9d9d9, 12px 12px 24px #ffffff;
box-shadow: -12px 12px 24px #d9d9d9, 12px 12px 24px #ffffff;
}

.card .card-footer .simulator-button{
    -webkit-box-shadow: -7px -7px 15px #d9d9d9, 7px 7px 15px #ffffff;
    box-shadow: -7px -7px 15px #d9d9d9, 7px 7px 15px #ffffff;
}

@media (max-width: 575.98px) {
    .card .card-footer .simulator-button{
        -webkit-box-shadow: -7px -7px 15px #d9d9d9, 7px 7px 15px #ffffff;
        box-shadow: -7px -7px 15px #d9d9d9, 7px 7px 15px #ffffff;
    }
    .shadow2{
        border-radius: 2rem 2rem 2rem 2rem;
        background: linear-gradient(315deg, #e6e6e692, #ffffff);
        color: #585858;
        -webkit-box-shadow: -5px -5px 10px #d9d9d9, 5px 5px 10px #ffffff;
        box-shadow: -5px -5px 10px #d9d9d9, 5px 5px 10px #ffffff;
    }
}

/* .outline_number{
    --color-background: #000119;
    --stroke-width: calc(1rem / 3);
    --font-size: 30vmin;
    --font-weight: 700;
    --letter-spacing: calc(1em / 8);
    background-clip: text;
  background-color: hsla(191, 95%, 49%, 0.65);
  color: white;
  font-size: var(--font-size);
  font-weight: var(--font-weight);
  letter-spacing: var(--letter-spacing);
  padding: calc(--stroke-width / 2);
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: var(--stroke-width);

} */
.outline_number{
  -webkit-text-stroke-color: #06c8f4a6;
  -webkit-text-stroke-width: 0.015em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  font-size: 5rem;
}

.text_disabled{
    color: #C6C6C6;
}

.text_title{
    color: #023473;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.text_active{
    color: #ff0000;
}

.text_title_blue{
        font-size: 1.5em;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0px;
        font-family: 'coolvetica_rg';
        text-transform: lowercase;
        color: #023473;
}
.text_title_altblue{
        font-size: 1.5em;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0px;
        font-family: 'coolvetica_rg';
        text-transform: lowercase;
        color: #06c8f4;
}