
.col-sm{
    margin-bottom: 1em;
}

.circule_btn{
    min-width: 1.5rem;
    max-width: 1.7rem;
}

.ciecBtn{
    /* background-color: #0095CE; */
    border-radius: 1rem;
    height: 1.5rem;
    display: flex;
    width: calc(100% - 1rem);
    min-width: fit-content;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(187deg, #ffffff 81%, hsla(0, 0%, 90%, 0.522)); */
    /* box-shadow: -2.5px 2.5px 4px 1.5px hsla(0, 0%, 90%, 0.522), 1px -2.5px 0px 3px #ffffff; */
}

.ciecBtn:hover{
    background: linear-gradient(135deg, #ffffff 30%, hsla(0, 0%, 90%, 0.522));
    box-shadow: inset -2.5px 2.5px 4px 1.5px hsl(0, 0%, 90%), 1px -2.5px 0px 0px hsl(0, 0%, 90%);
}

.btn_doc {
    width: 60% !important;
	height: 3rem;
	border-color: none !important;
	border-radius: 28px;
	box-shadow: -12px 12px 24px #d9d9d9, 12px 12px 24px #ffffff;
	border: solid 1px rgba(255, 255, 255, 0.1);
	background-color: #0095CE;
	font-weight: bold;
	/* position: absolute; */
	/* bottom: 4rem; */
	/* transform: translate(-50%, 0); */
	transition: all 0.3s ease-in-out;
	font-family: 'Montserrat';
}

.btn_doc_disabled {
    width: 60% !important;
    height: 3rem;
    border-color: none !important;
    border-radius: 28px;
    box-shadow: -12px 12px 24px #d9d9d9, 12px 12px 24px #ffffff;
    border: solid 1px rgba(255, 255, 255, 0.1);
    background-color: #C6C6C6;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-family: 'Montserrat';
    opacity: 0.5;
}

.btn_doc_disabled:hover {
	transition: all 0.3s ease-in-out;
	border: none !important;
	border-color: none !important;
	border-radius: 28px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
	background-color: #0235737e;
	color: #ffffff !important;
	cursor: pointer;
}

.btn_doc:hover {
	transition: all 0.3s ease-in-out;
	border: none !important;
	border-color: none !important;
	border-radius: 28px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
	background-color: #283460;
	color: #ffffff !important;
	cursor: pointer;
}

.circule_btn:hover {
    color:#0095CE !important;
    filter: drop-shadow(0px 1px 1px #d9d9d9);
    cursor: pointer;
   }

.shadow2{
    border-radius: 2rem 2rem 2rem 2rem;
    /* background: linear-gradient(315deg, #e6e6e692, #ffffff); */
    -webkit-box-shadow: -12px 12px 24px #d9d9d9, 12px 12px 24px #ffffff;
box-shadow: -12px 12px 24px #d9d9d9, 12px 12px 24px #ffffff;
}

.card .card-footer .simulator-button{
    -webkit-box-shadow: -7px -7px 15px #d9d9d9, 7px 7px 15px #ffffff;
    box-shadow: -7px -7px 15px #d9d9d9, 7px 7px 15px #ffffff;
}

@media (max-width: 575.98px) {
    .card .card-footer .simulator-button{
        -webkit-box-shadow: -7px -7px 15px #d9d9d9, 7px 7px 15px #ffffff;
        box-shadow: -7px -7px 15px #d9d9d9, 7px 7px 15px #ffffff;
    }
    .shadow2{
        border-radius: 2rem 2rem 2rem 2rem;
        background: linear-gradient(315deg, #e6e6e692, #ffffff);
        color: #585858;
        -webkit-box-shadow: -5px -5px 10px #d9d9d9, 5px 5px 10px #ffffff;
        box-shadow: -5px -5px 10px #d9d9d9, 5px 5px 10px #ffffff;
    }
}
.outline_number{
  -webkit-text-stroke-color: #06c8f4a6;
  -webkit-text-stroke-width: 0.015em;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-repeat: no-repeat;
  transition: background-size 0.5s cubic-bezier(0.67, 0.01, 0.15, 0.98);
  font-size: 5rem;
}

.text_disabled{
    color: #C6C6C6;
    cursor: pointer;
}

.text_disabled:hover{
    color: rgb(6, 199, 156);
    cursor: pointer;
}

.text_title{
    color: #283460;
    text-decoration: underline;
    cursor: default;
}

.text_title_alt{
    color: #C6C6C6;
    text-decoration: underline;
    cursor: pointer;
}

.text_title_alt:hover{
    color: #283460;
    text-decoration: underline;
    cursor: pointer;
}

.text_active{
    color: #ff0000;
}

.text_title_blue{
        font-size: 1.5em;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0px;
        font-family: 'Montserrat';
        text-transform: lowercase;
        color: #283460;
}
.text_title_altblue{
        font-size: 1.5em;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0px;
        font-family: 'Montserrat';
        text-transform: lowercase;
        color: #06c8f4;
}

.popup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 999;
    display: none;
}