.backgroundComunity {
    background-position-x: calc(50%);
    background-position-y: calc(40%);
    background-size: 140%;
    background-repeat: no-repeat;
    font-size: 1.5rem;
}

.imgcontainer{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.rowcontenttop{
    width: 70%;
    min-height: 40vh;
    position: absolute;
    left: 17.5%;
    top: 32%;
}
.rowcontentbott{
    width: 70%;
    min-height: 40vh;
    position: absolute;
    left: 17.5%;
    bottom: 8%;
}

@media (min-width: 1900px) {
    .backgroundComunity {
        font-size: 2rem;
    }
}

@media screen and (max-width: 720px) {
    .backgroundComunity {
        background-position-y: calc(0%);
        background-size: 150%;
        font-size: 1rem;
    }
    .imgcontainer{
        max-height: 50vh;
    }
    .rowcontenttop{
        width: 100%;
        min-height: auto;
        top: 38%;
        left: 8%;
    }
    .rowcontenttop .col-12{
        height: 10vh;
    }

    .rowcontentbott{
        width: 100%;
        min-height: auto;
        bottom: 20%;
        left: 8%;
    }
    .rowcontentbott .col-12{
        height: 10vh;
    }
}