.card-credit {
   transition: all 0.3s ease-in-out;
   border-radius: 10px;
   height: 26rem;
   width: 20rem;
   border: none;
 }

 .left-content {
   border:none;
 }

 .card-credit .title-cards-dp{
   font-size: 1.25rem !important;
   margin-top: 1rem;
 }

 @media (min-width: 576px){
    .card-credit .title-cards-dp{
    font-size: 1rem !important;
    margin-top: 1rem;
  }
  .card-credit {
    height: 27rem;
    } 
 }


@media (min-width: 768px) {
    .card-credit {
    height: 27rem;
    width: 30rem;
  }
 }
 
 @media (min-width: 992px) {
   .card-credit .title-cards-dp{
    font-size: 1.2rem !important;
  }
   .card-credit {
    height: 26rem;
    width: 30rem;
    } 
 }




.card-credit:hover {
 -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  box-shadow: #bbc7c7 10px 10px 10px;
}


.bancos-list li, .dp-list li {
  list-style-type: none;
  margin-bottom: 15px;
}

.bancos-list li:before {
  position: absolute;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../assets/img/home/cara_triste.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 2px;
  margin-left: -25px;
}

.dp-list li:before {
  position: absolute;
  content: '';
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: url(../assets/img/home/cara_feliz.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 2px;
  margin-left: -25px;
}
/*
.dp-opciones:before{
    background-image: url(../assets/img/home/ICONO1.png);
}

.dp-15min:before{
  background-image: url(../assets/img/home/ICONO2.png);
}

.dp-linea:before{
  background-image: url(../assets/img/home/ICONO3.png);
}
*/
.dp-facil:before{
  background-image: url(../assets/img/home/cara_feliz.png);
}

.fondo-card{
  background-color: #e0dede;
}

.fondo-card-white{
  background-color: #ffffff;
}

.fondo-card-dp{
   background: linear-gradient(to right,#023473, #05f2f2);
}

#header {
    padding: .75rem 1.25rem;
    background-color: transparent;
    border-bottom: none;
}

#footer {
    padding: .75rem 1.25rem;
    background-color: transparent;
}

#btn-white{
  background-color: white;
  border: none;
}

#btn-white:hover{
  background-color: #ececec;
  color: #5f5f5f !important;
}
