.dnd{
	width: 100% !important;
	max-width: 690px;
	height: 100px;
	border: 1px solid #000;
	border-radius: 5px;
	text-align: center !important;
	padding-top: 32px;
	padding-bottom: 32px;
	margin-top: 10px;
}

.file-drop-dragging-over-target{
	border-radius: 5px;
	height: 100px;
	margin-bottom: 30px;
}


.file-drop-dragging-over-target, 
.dnd:hover{
	border-color: #80bdff !important;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.clip-image{
	height: 15px;
	margin-top: -4px !important;
	margin-right: 10px;
}

.drop-content:hover{
	cursor: pointer;
}