.footer-bg{
	background: #e8e8e8;
	padding-top: 17px;
	padding-bottom : 47px;
	min-height: 302px;
}

.footer-icon{
	width: 36px;
	height: 36px;
	margin-right: 5px;
	border-radius: 3px;
}

.footer-link{
	color: #000000;
}

.footer-link:hover{
	cursor: pointer;
	text-decoration: none;
	color: #000000;
}

.footer-link:visited{
	color: #000000;
}


.footer-subtitles{
		font-style: linear-gradient(to right, #0095FF, #6DFFFF); ;
		writing-mode: vertical-lr;
		transform: rotate(180deg);
		font-size: 1.5rem;
		font-weight: 500;
		
}