.header{
	width: 100%;
	max-width: 1440px;
	height: 720px;
	padding-top: 157px;
	background-image: url('../assets/img/header-mobile.png');
	background-size: cover;
	background-position: inherit;
	background-repeat: no-repeat;
}

/*revisar desde aqui*/

.vertical-center {
	margin-left: auto !important;
	margin-right: auto !important;
  }

.carousel-text {
	

}

.header-title{
	text-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
	line-height: 0.86;
	letter-spacing: 1.9px;
	font-weight: bold;
}

.container {
	margin-left: auto !important;
	margin-right: auto !important;
}

.carousel-caption{
	top: 10%;
}

.carousel-inner, .carousel-indicators{
	max-height: 720px;
}

.carousel-indicators{
	top: 90%;
}

.header-button{
	width: 240px;
	height: 56px;
	border-color: none !important;
	border-radius: 28px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
	border: solid 1px rgba(255, 255, 255, 0.1);
	background-color: #023473;
	font-weight: bold;
	font-family: 'Metropolis-Regular';
}

.header-button:hover{
	border: none !important;
	border-color: none !important;
	border-radius: 28px;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.6);
	background-color: var(--primary-color);
	color: #ffffff !important;
	cursor: pointer;
	
}

.link-header, .link-header:hover{
	text-decoration: none !important;
	width: 240px !important;
	height: 56px !important;
}

.link-header:hover{
	text-decoration: none !important;
	
}

.tito-header{
	z-index: 100;
	position: relative;
	margin-top: -555px;
	width: 247px;
	height: 550px;
	object-fit: contain;
}

.explore-link{
	position: relative;
	bottom: -210px;
	color: #ffffff;
}

.explore-link:hover{
	text-decoration: none;
	color: #ffffff;
}

.explore-link:visited{
	color: #ffffff;
}

/* @media (min-width: 425px){
	.header-title{
		font-size: 3.5em !important;
	}
}

@media (min-width:320px) and (max-width: 425px){
	.header-title{
		font-size: 2.5em !important;
	}
} */

@media(max-width: 440px){
	.carousel-caption h3{
		font-size: 2em;
	}
}
@media(min-width: 768px){
	.header{
		background-image: url('../assets/img/shutterstock-372396547-3-x.png');
		background-position: center;
	}
}

.btn-web{
	position: absolute;
	margin-top: 460px !important;
	margin-left: 215px !important;
}

.btn-web-mov{
	position: absolute;
	margin-top: 360px !important;
	margin-left: -105px !important;
}
