#card-home {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
 }
 

  #card-home:hover {
 -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  box-shadow: #bbc7c7 10px 10px 10px;
}

#header-SAT{
  background-image: url(../assets/img/carousel/carrusel-01.jpg);
  background-size: cover;
}