.tooltip-password>.tooltip-inner {
	max-width: none;
	width: inherit;
	background-color: #E8E8E8 !important;
	color: #000000 !important;
}

.btn-register {
	width: 150px;
	height: 45px;
	background: var(--primary-color);
	border-radius: 25px;
	border: none !important;
	color: #ffffff;
}

.btn-register-success {
	width: auto;
	height: 55px;
	line-height: 55px;
	text-decoration: none !important;
	background: var(--primary-color);
	border-radius: 25px;
	border: none !important;
	color: #ffffff;
	padding: 0 1rem;
	opacity: 0.8;
}

.btn-register-success:hover {
	color: #fff;
	opacity: 0.95;
}

.btn-broker{
	position: relative;
	border-radius: 35px !important;
}

@media (min-width: 399px) {
	.btn-broker{
		margin-top: 19%;
		font-size: 11px !important;
		width: 120px !important;
		height: 28px !important;
	}
}

@media (min-width: 576px) {/*SM*/
	.btn-broker{
		margin-top: 22%;
		font-size: 12px !important;
		width: 120px !important;
		height: 32px !important;
	}
}

@media (min-width: 768px) {/*MD*/
	.btn-broker{
		margin-top: 24%;
		font-size: 16px !important;
		width: 160px !important;
		height: 40px !important;
	}
}

@media (min-width: 992px) {/*LG*/
	.btn-broker{
		margin-top: 25%;
		font-size: 18px !important;
		width: 250px !important;
		height: 40px !important;
	}
}

@media (min-width: 1200px) {/*XL*/
	.btn-broker{
		margin-top: 27%;
	}
}

@media (min-width: 2000px) {/*XXL*/
	.btn-broker{
		margin-top: 28%;
		font-size: 36px !important;
		width: 400px !important;
		height: 70px !important;
	}
}
