.type-card {
	margin-top: -33px;
	width: 100%;
	max-width: 282px;
	height: 110px;
	font-size: 1rem;
	color: #ffffff;
	padding-top: 20%;
	padding-bottom: 20%;
	padding-right: 10px;
	padding-left: 10px;
	border-radius: 5px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.full:hover {
	cursor: pointer;
}

.firstBlue {
	background: #090841;
}

.secondBlue {
	background: #242a5a;
}

.thirdBlue {
	background: #063a99;
}

.fourthBlue {
	background: #0d0dab;
}


.card-disabled{
	background: gray;
}


.card-image {
	/* margin-top: -33px; */
	height: 66px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 33px;
}

.wht-bg {
	margin-right: auto;
	margin-left: auto;
	height: 66px;
	width: 66px;
	border-radius: 15px;
	background: rgba(255, 255, 255, 0.4);
}

.full {
	background: #ffffff;
	border: none;
}

.full:hover {
	background: #ffffff;
	border: none;
}